* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

p {
    text-indent: 30px;
}

.halaman {
    background-color: white;
    color: black;
    padding: 10px;
    position: fixed;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 16px;
    border: solid;
    border-color: orange;
    border-radius: 10px;
}

.halaman span,
a:link,
a:visited {
    padding: 5px;
    display: block;
    color: black;
    text-decoration: none;
}

.halaman a:hover {
    background-color: grey;
    transition: background-color 0.3s;
}

.judul {
    padding-top: 100px;
    padding-bottom: 100px;
    color: white;
    text-align: center;
    background-image: url(images/background.jpg);
    background-size: cover;
    background-position: center;
}

.rangkuman h1 {
    text-align: center;
    margin: 20px;
}

.rangkuman p {
    text-align: justify;
}

.rangkuman {
    color: black;
    background-color: white;
    margin: auto;
    width: 60%;
    border: outset;
    padding: 0px 15px 15px 15px;
    border-radius: 20px;
}

.dropdown {
    display: none;
}

#gambar {
    display: inline;
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
}


.homepage {
    background-color: orange;
    text-align: center;
}

nav {
    display: none;
}

nav input[type='checkbox'],
nav label {
    display: none;

}

.active {
    background-color: grey;
    cursor: unset;
}

#myBtn {
    display: none;
}

@media (max-width:412px) {

    .rangkuman {
        width: 100%;
    }

    .isi-rangkuman h1 {
        font-size: 24px;
    }

    .halaman {
        display: none;
        font-weight: bold;
    }

    nav {
        display: block;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 0;
        margin-right: 0;
    }

    /* Because we are in mobile mode, we want to display it as a
       vertical list */
    nav ul {
        display: block;
    }

    /* We have two lists: the first one are the always visibile items
       in the menu bar. The second one is the one that will be hidden */
    nav ul:last-child {
        width: 100%;
        flex-basis: 100%;
    }

    nav ul li {
        margin-bottom: 0;
        width: 100%;
        text-align: center;
        padding: 0.5em;
        position: inherit;
    }

    input[type='checkbox']:not(:checked)+ul {
        display: none;
    }

    nav label {
        background-color: green;
        text-align: center;
        display: block;
        padding: 0.5em;
        line-height: 1.6em;
        align-self: center;
    }

    #myBtn {
        display: block;
        position: fixed;
        /* Fixed/sticky position */
        bottom: 20px;
        /* Place the button at the bottom of the page */
        right: 30px;
        /* Place the button 30px from the right */
        border: none;
        /* Remove borders */
        outline: none;
        /* Remove outline */
        background-color: grey;
        /* Set a background color */
        color: white;
        /* Text color */
        padding: 13px;
        /* Some padding */
        border-radius: 10px;
        /* Rounded corners */
        font-size: 18px;
        /* Increase font size */
    }

}